
.bike-card{
    margin: 10px 50px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(217, 231, 244);
    display: flex;
    justify-content: space-between;
}
.pending-list{
    display: none;
}
.ready-list{
    display: none;
}
.complete-list{
    display: none;
}