
    :root {
        /*--color-background: #f4f4f4;  Light gray background */
        --color-button: #36c2ce; /* Vibrant blue-green button */
        --color-button-hover: #2a9ba7; /* Slightly darker for hover effect */
        --color-text: #474747; /* Dark gray text */
        --color-card: #e0f7fa; /* Light blue card background */
        --color-card-text: #353593; /* Dark blue text for cards */
        --color-background: #264653; /* Dark blue-green */
        --color-primary: #E76F51; /* Red-orange */
        --color-secondary: #F4A261; /* Light orange */
        --color-accent: #2A9D8F; /* Teal */
        --color-highlight: #E9C46A; /* Yellow */
    
    }
.bike-card{
	background-color:  var(--color-card);
    margin: 10px 50px;
    color: var(--color-text);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(27, 2, 63, 0.77);
    border-radius: 10px;
}
.bikeImg{
	width: 220px;
	height:300px;
	border-radius: 10px;
	margin-right: 50px;
}

.book-btn{
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-button);
}
.book-btn:hover{
	background-color: var(--color-button-hover);
}
.card-container{
  display:none ;
}
.card{
    color: var(--color-card-text);
    margin-top: 50px;
    text-align: center;
    padding: 25px;
    width: 300px;
    background-color: var(--color-card);
}
input{
    border-radius: 5px;
    border-color: var(--color-button-hover);
}
.service-container{
   display: flex;
   justify-content: center;
   display: none;
}
.service-form{
    margin-top: 100px;
    border-radius: 10px;
    background-color: var(--color-card);
    text-align: center;
    padding: 25px;
   
    width: 300px;
    height: 400px;
}
.form-check{
    margin-top: 20px;
}
.service-info{
	display:'';
}

.title{
    display: inline;
    color: var(--color-background);
    font-family:Georgia, 'Times New Roman', Times, serif Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: bolder;
    margin-right: 20px;
}
.title-container{
	padding: 0px;
}
.cancel-btn{
    color: var(--color-text);
    margin-left: 10px;
    border-radius: 5px;
    width: 90px;
    background-color: var(--color-button);
}
.cancel-btn:hover{
    background-color: var(--color-button-hover);
}
.add-btn{
    color: var(--color-text);
    margin-left: 10px;
    border-radius: 5px;
    width: 90px;
    background-color: var(--color-button);
}
.add-btn:hover{
    background-color: var(--color-button-hover);
}
.submit-btn{
    background-color:var(--color-button) ;
}
.submit-btn:hover{
    background-color: var(--color-button-hover);
}