
:root {
    /*--color-background: #f4f4f4;  Light gray background */
    --color-button: #36c2ce; /* Vibrant blue-green button */
    --color-button-hover: #2a9ba7; /* Slightly darker for hover effect */
    --color-text: #474747; /* Dark gray text */
    --color-card: #e0f7fa; /* Light blue card background */
    --color-card-text: #353593; /* Dark blue text for cards */
    --color-background: #264653; /* Dark blue-green */
    --color-primary: #E76F51; /* Red-orange */
    --color-secondary: #F4A261; /* Light orange */
    --color-accent: #2A9D8F; /* Teal */
    --color-highlight: #E9C46A; /* Yellow */

}
.title{
    display: inline;
    margin-top: 100px;
    color: var(--color-highlight);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 44px;
    font-weight: bolder;
}
.logo{
    margin-top: -20px;
   
    text-align: center;
    display: inline;
    text-align: center;
}
.title-container{
    padding: 10px;
    text-align: center;
}
 .home-content{
        display: flex;
        justify-content: center;
    }
    .welcome-content{
        padding-right:40px ;
        margin-top: 100px;
    }
    .body-content{
        color:white;
         text-align: start;
         margin: 2% 10% 0% 0%;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-weight: 500;
        }
        .main-content{
            color: var(--color-accent);
            margin-top: 5%;
            text-align: start;
            font-size:44px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 600;
        }
       
.admin-btn{
    font-weight: 500;
    margin-top: 5%;
    width: 150px;
    background-color:var(--color-button);
    border-radius: 25px;
    border-color: var(--color-accent);
    transition: 0.2s width;
}
.admin-btn:hover{
    width: 160px;
    background-color: var(--color-button-hover);
}
.user-btn{
    font-weight: 500;
    width: 150px;
    background-color:var(--color-button);
    border-radius: 25px;
    color: var(+);
    
    margin-left: 2%;
    transition: 0.2s width;
}
.user-btn:hover{
    width: 160px;
    background-color: var(--color-button-hover);
}







