:root {
    /*--color-background: #f4f4f4;  Light gray background */
    --color-button: #36c2ce; /* Vibrant blue-green button */
    --color-button-hover: #2a9ba7; /* Slightly darker for hover effect */
    --color-text: #474747; /* Dark gray text */
    --color-card: #e0f7fa; /* Light blue card background */
    --color-card-text: #353593; /* Dark blue text for cards */
    --color-background: #264653; /* Dark blue-green */
    --color-primary: #E76F51; /* Red-orange */
    --color-secondary: #F4A261; /* Light orange */
    --color-accent: #2A9D8F; /* Teal */
    --color-highlight: #E9C46A; /* Yellow */

}

.card-container
{
    background-color: var(--color-card);
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    padding-top: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
