<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>signupServlet</display-name>
    <servlet-name>signupServlet</servlet-name>
    <servlet-class>com.service.signupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupServlet</servlet-name>
    <url-pattern>/signupServlet</url-pattern>
  </servlet-mapping>
  <display-name>BikeService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>otpServlet</display-name>
    <servlet-name>otpServlet</servlet-name>
    <servlet-class>com.service.otpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>otpServlet</servlet-name>
    <url-pattern>/otpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.service.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBikeServlet</display-name>
    <servlet-name>AddBikeServlet</servlet-name>
    <servlet-class>com.service.AddBikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBikeServlet</servlet-name>
    <url-pattern>/AddBikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BikeServlet</display-name>
    <servlet-name>BikeServlet</servlet-name>
    <servlet-class>com.service.BikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BikeServlet</servlet-name>
    <url-pattern>/BikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceServlet</display-name>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.service.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pendingServlet</display-name>
    <servlet-name>pendingServlet</servlet-name>
    <servlet-class>com.service.pendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pendingServlet</servlet-name>
    <url-pattern>/pendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeStatus</display-name>
    <servlet-name>changeStatus</servlet-name>
    <servlet-class>com.service.changeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeStatus</servlet-name>
    <url-pattern>/changeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readyServlet</display-name>
    <servlet-name>readyServlet</servlet-name>
    <servlet-class>com.service.readyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readyServlet</servlet-name>
    <url-pattern>/readyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>completeServlet</display-name>
    <servlet-name>completeServlet</servlet-name>
    <servlet-class>com.service.completeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>completeServlet</servlet-name>
    <url-pattern>/completeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>com.service.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/ConfirmServlet</url-pattern>
  </servlet-mapping>
</web-app>